@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400&family=Noto+Sans+Bengali:wght@300;400&family=Noto+Sans+JP:wght@300;400&family=Noto+Sans+KR:wght@300;400&family=Noto+Sans+TC:wght@300;400&family=Noto+Sans:wght@300;400;600&display=swap');
body.body--dark, body.body--light{
  font-family: 'Noto Sans Arabic', sans-serif;
  font-family: 'Noto Sans Bengali', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}
@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

.q-layout{
  width: 100vw;
}
.body--dark{
  --q-negative: #ff6d7d;

  .header{
    background-color: $dark;
  }
  a.link{
    color: $white;
  }
  a{
    color: $white;
  }

  .select-language{
    &__items{
      .swiper-slide{
        .item-inner{
          &.selected{
            border-color: #027BE3;
          }
        }
      }
    }
  }

  .content{
    background-color: var(--q-dark-page);
  }

  .collections__sort .change-sort {
    background-color: var(--q-dark-page);
    &.active {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }
  }

  .words-table{
    th{
      background-color: #181818;
    }
    tbody{
      tr:nth-child(even){
        background-color: #181818;
      }
      tr:hover{
        background-color: rgba(255, 255, 255, 0.07);
      }
      td.selected{
        background-color: rgba(66, 71, 117, 0.3);
      }
      tr.add-word:hover{
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  .collections__slider{
    .item{
      box-shadow: 0 0 20px rgba(44, 44, 44, 0.2);
    }
  }

  .faq-page .question{
    background-color: rgb(26, 26, 26);
  }
  .q-btn--actionable.q-btn--standard{
    &:before {
      background-color: rgba(59, 59, 59, .3);
    }
    &:hover{
      &:before{
        background-color: rgba(61, 61, 61, 0.3);
      }
    }
    &:active{
      &:before{
        background-color: rgba(101, 101, 101, 0.3);
      }
    }
  }

  --swiper-pagination-color: rgb(255,255,255);
  --swiper-pagination-bullet-inactive-color: rgb(133, 133, 133);
  --swiper-scrollbar-drag-bg-color: rgb(105, 105, 105);

  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  .bottom-row-save{
    .q-btn:before{
      border: 1px solid rgba(255,255,255,.1);
    }
  }

  .q-field--outlined .q-field__control:before{
    border-color: rgba(255,255,255,.1);
  }

  .q-card--dark{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }

  .collections{
    .collections{
      &__list{
        .item{
          background-color: #181823;
          &__title{
            background-color: rgba(0, 0, 0, 0.85);
          }
          &__desc{
            .text{
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
          &:after{
            background-color: rgba(255,255,255,.1);
          }
        }
      }
    }
  }
  .context-many-items{
    background-color: rgba(30, 30, 30, 0.99);
  }

  .word-context-menu{
    background-color: rgba(30, 30, 30, 0.99);
    &__item{
      &:hover{
        background-color: rgba(255,255,255,.1);
      }
    }
  }

  .dialog-container .edit-item{
    background-color: rgba(130, 130, 130, .1);
  }
}


.body--light{
  .header{
    background-color: $light;
  }
  .content{
    background-color: $white;
  }
  a.link{
    color: $primary;
  }
  a{
    color: $primary;
  }
  .q-card{
    background-color: $light;
  }
  .select-language{
    &__items{
      .swiper-slide{
        .item-inner{
          &.selected{
            border-color: #027BE3;
          }
        }
      }
    }
  }

  .collections__sort .change-sort {
    background-color: $white;
    &.active{
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)
    }
  }

  .words-table{
    th{
      background-color: #e8e8e8;
    }
    tbody{
      tr:nth-child(even){
        background-color: #f7f7f7;
      }
      tr:hover{
        background-color: rgba(0, 0, 0, 0.03);
      }
      td.selected{
        background-color: rgba(0, 0, 0, 0.03);
      }

      tr.add-word:hover{
        background-color: rgba(0, 0, 0, 0);
      }

    }
  }

  .collections__slider{
    .item{
      box-shadow: 0 0 20px rgba(211, 211, 211, 0.3);
    }
  }

  .loading-screen{
    .loading-text{
      color: $white;
    }
  }

  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  .faq-page .question{
    background-color: rgb(227, 227, 227);
  }

  .bottom-row-save{
    .q-btn:before{
      border: 1px solid rgba(0,0,0,.1);
    }
  }

  .q-field--outlined .q-field__control:before{
    border-color: rgba(0,0,0,.1);
  }


  .collections{
    .collections{
      &__list{
        .item{
          background-color: #f1f1f1;
          &__title{
            background-color: rgba(50,50,50,.85);
            color: $white;
          }
          &__desc{
            .text{
              background-color: rgba(255, 255, 255, 0.85);
            }
          }

          &:after{
            background-color: rgba(0,0,0,.15);
          }
        }
      }
    }
  }

  .context-many-items{
    background-color: rgba(255, 255, 255, .96);
  }
  .word-context-menu{
    background-color: rgba(255, 255, 255, .96);
  }
}

.close-icon{
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}

.position-relative{
  position: relative;
}
.content{
  .page{
    position:fixed;
    width: 100%;
    height: 100%;
  }
}
.page-container{
  flex-grow: 1;

  padding: 20px 20px 40px;
  font-size: 1.3rem;
  line-height: 130%;

  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

}

.interface-btn{
  font-size: 1.7rem;
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
  transition: transform .3s ease-out;
  will-change: transform;
  &:hover{
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

.q-dialog__inner--minimized{
  padding-top: 52px;
  padding-top: (calc(env(safe-area-inset-top, 0) + 52px));
  //padding-bottom: 52px;
}

.dialog-container__title{
  padding-right: 25px;
  padding-bottom: 10px;
  line-height: 120%;
}

.q-table{
  table-layout: fixed;
}
.q-table tbody td{
  width: 50%;
  word-break: break-word;
  padding: 5px;
  border: 0;
}

.q-table tr td:first-child, .q-table tr th:first-child{
  padding-left: 10px;
  padding-right: 8px;
}
.q-table tr td:last-child, .q-table tr th:last-child{
  padding-right: 10px;
  padding-left: 8px;
}
.q-table__container{
  border: 0;
  background-color: rgba(0,0,0,0);
}

.q-card.q-dialog-plugin{
  border-radius: 20px;
}

.dialog-container{
  padding: 20px 15px;
}

.q-table__card{
  border-radius: 12px;
}

.q-card.no-scrollbar, .q-table__middle.scroll {
  scrollbar-width: thin; /* для Firefox */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
  }
}

.w-100{
  width: 100%;
}

.q-field--outlined .q-field__control{
  border-radius: 12px;
}

.q-scrollarea__bar--v, .q-scrollarea__thumb--v{
  width: 5px;
}

.q-btn--rectangle{
  border-radius: 12px;
  &.q-btn--rounded{
    border-radius: 28px;
  }
}

.words-table{
  font-weight: 300;
  line-height: 140%;
  th{
    font-weight: bold;
    border: 0;
  }
  tbody{
    td{
      font-size: 1.2rem;
    }
  }
  .q-checkbox__inner{
    opacity: .4;
    &.q-checkbox__inner--truthy{
      opacity: .9;
    }
  }

}
.q-dialog__inner > div{
  border-radius: 12px;
}